body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;

  background-color: #fff;
  background-position: top center;
  background-repeat: no-repeat;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
.nav-menu {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}
.list-navigation {
  list-style: none;
}
.site-navigation a,
.user-navigation a {
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #ffffff;
}
.logo {
  width: 138px;
  height: 70px;
}
.description {
  text-align: center;
  background-image: url("/img/intro.jpg");
}
.description h2 {
  font-size: 21px;
  line-height: 26px;
}
.description p {
  font-size: 14px;
  line-height: 26px;
}
.interested {
  text-align: center;
}
.interested-text {
  font-size: 14px;
  line-height: 24px;
}
.interested-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}
.nav-information {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
}
.nav-information:hover {
  color: #81b3d2;
}
.nav-information:focus,
.nav-information:active {
  color: #000000;
  opacity: 0.3;
}
.hotel-search {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  color: #ffffff;
}
.hotel-search:hover {
  background-color: #604e43;
  color: #ffffff;
}
.hotel-search:focus,
.hotel-search:active {
  background-color: #503e33;
  color: #ffffff;
}
.calendar-search {
  fill: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  opacity: 0.3;
  background-color: #fff;
}
.calendar-search:hover {
  fill: #000000;
  opacity: 1;
}
.calendar-search:focus,
.calendar-search:active {
  background-color: #fff;
  fill: #81b3d2;
  outline: none;
}
.submit-button {
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
.submit-button:hover {
  background-color: #669ec0;
}
.submit-button:focus,
.submit-button:active {
  background-color: #5496bd;
  color: #ffffff;
}
.links {
  list-style: none;
}
.footer-links {
  display: block;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}
.footer-links:hover {
  background-color: #669ec0;
}
.footer-links:focus,
.footer-links:active {
  background-color: #5496bd;
}
.footer-links:active svg {
  opacity: 0.3;
}
.footer-copyright,
.copyright {
  vertical-align: middle;
  border: none;
}
.copyright:hover path {
  fill: #81b3d2;
}
.copyright:focus path,
.copyright:active path {
  fill: #bdbbbc;
}
.img-copyright {
  width: 115px;
  height: 41px;
}
.hotels-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}
.hotels-title:hover {
  color: #81b3d2;
}
.hotels-title:focus,
.hotels-title:active {
  color: #000000;
  opacity: 0.3;
}
.search-description p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.rank {
  background-color: #f2f2f2;
  color: #666666;
}
.details {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  font-weight: bold;
  background-color: #81b3d2;
}
.details:hover {
  background-color: #669ec0;
}
.details:focus,
.details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.reservation {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  font-weight: bold;
  background-color: #766357;
}
.reservation:hover {
  background-color: #604e43;
}
.reservation:focus,
.reservation:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
