body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}
.container {
  margin: 0 auto;
  width: 90%;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
.list-navigation,
.nav-menu {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
}
.list-navigation,
.nav-menu {
  list-style: none;
}
.list-navigation a,
.nav-menu a {
  color: #000000;
}
.nav-menu a:hover,
.nav-menu a:focus,
.nav-menu a:hover,
.nave-menu a:focus {
  background-color: #ffffff;
}
.logo {
  width: 138px;
  height: 70px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background-color: #75a1c4;
  background-image: url(../img/intro1.jpeg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;
}
.description {
  text-align: center;
}
.description h2 {
  font-size: 21px;
  line-height: 26px;
}
.description p {
  font-size: 14px;
  line-height: 26px;
}
.interested {
  text-align: center;
}
.interested-text {
  font-size: 14px;
  line-height: 24px;
}
.interested-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}
.nav-information {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}
.nav-information:hover {
  color: #81b3d2;
}
.nav-information:focus,
.nav-information:active {
  color: #000000;
  opacity: 0.3;
}
.hotel-search {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  color: #ffffff;
}
.hotel-search:hover {
  background-color: #604e43;
}
.hotel-search:focus,
.hotel-search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.calendar-search {
  fill: #cacaca;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
  outline: none;
}
.calendar-search:hover {
  fill: #000000;
}
.calendar-search:focus,
.calendar-search:active {
  fill: #81b3d2;
}
.submit-button {
  font-family: inherit;
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
.submit-button:hover {
  background-color: #669ec0;
}
.submit-button:focus,
.submit-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.footer-links {
  list-style: none;
}
.footer-link {
  display: block;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}
.footer-link:hover {
  background-color: #669ec0;
}
.footer-link:focus,
.footer-link:active {
  background-color: #5496bd;
}
.footer-link:active svg {
  opacity: 0.3;
}
.footer-copyright,
.copyright {
  vertical-align: middle;
  border: none;
}
.copyright:hover path {
  fill: #81b3d2;
}
.copyright:focus path,
.copyright:active path {
  fill: #bdbbbc;
}
.img-copyright {
  width: 115px;
  height: 41px;
}
.hotels-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}
.hotels-title:hover {
  color: #81b3d2;
}
.hotels-title:focus,
.hotels-title:active {
  color: #000000;
  opacity: 0.3;
}
.search-description p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.rank {
  background-color: #f2f2f2;
  color: #666666;
}
.details {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  background-color: #81b3d2;
}
.details:hover {
  background-color: #669ec0;
}
.details:focus,
.details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.reservation {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  background-color: #766357;
}
.reservation:hover {
  background-color: #604e43;
}
.reservation:focus,
.reservation:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
